@model GerenciamentoBancasTcc.Domains.Entities.Instituicao

@{
    ViewData["Title"] = "Inativar Instituição";
}


<div>

    <a asp-action="Index">Voltar para lista</a>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="border: solid 2px #2F5578;">
                <div class="card-header text-center" style=" background-color: #73A0B9; color: #fff; font-size: 18px">
                    <b>Inativar Instituição</b>
                </div>
                <div class="card-body">

                    <div class="alert alert-danger" role="alert">
                        Tem certeza que deseja desativar esta instituição?
                    </div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ativo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ativo)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="InstituicaoId" />
                        <input type="submit" value="Inativar" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>