@using GerenciamentoBancasTcc.Domains.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - GerenciamentoBancasTcc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/layout.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a asp-action="Index" asp-controller="Home" class="img logo rounded-circle mb-5"
                   style="background-image: url(https://www.faculdadefamap.edu.br/wp-content/uploads/2019/11/tcc.png);">
                </a>

                <ul class="list-unstyled components mb-5">
                    @if (User.IsInRole("Coordenador"))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Aluno">Alunos</a>
                        </li>
                        <li>
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Avaliações</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a asp-action="AvaliacaoApresentacao" asp-controller="Avaliacao">Avaliação Apresentação</a>
                                </li>
                                <li>
                                    <a asp-action="AvaliacaoArtigo1" asp-controller="Avaliacao">Avaliação Artigo 01</a>
                                </li>
                                <li>
                                    <a asp-action="AvaliacaoArtigo2" asp-controller="Avaliacao">Avaliação Artigo 02</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Turma">Turmas</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Banca">Bancas</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Curso">Cursos</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Usuario">Usuários</a>
                        </li>
                    }
                    @if (User.IsInRole("Administrador"))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Instituicao">Instituições</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Filial">Filiais</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="">

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>