@model GerenciamentoBancasTcc.Domains.Entities.Banca

@{
    ViewData["Title"] = "Editar";
}

@section Styles {
    <link rel="stylesheet" href="~/css/select-pure.css" />
}
@if (TempData["mensagemSucesso"] != null)
{
    <div id="message" class="alert alert-success" role="alert">
        @TempData["mensagemSucesso"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["mensagemErro"] != null)
{
    <div id="message" class="alert alert-danger" role="alert">
        @TempData["mensagemErro"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="border: solid 2px #2F5578;">
                <div class="card-header text-center" style=" background-color: #73A0B9; color: #fff; font-size: 18px">
                    <b>Editar Banca</b>
                </div>
                <div class="card-body">

                    <div class="alert alert-warning" role="alert">
                        Tem certeza que deseja editar as informações da banca?
                    </div>

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="BancaId" />
                        <input type="hidden" id="alunosBanca" name="alunosBanca" value="@ViewBag.AlunosBanca" />
                        <div class="form-group">
                            <label class="control-label">Curso - Selecione para filtrar as turmas</label>
                            <select class="form-control" id="CursoId" asp-items="ViewBag.CursoId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="TurmaId" class="control-label"></label>
                            <select asp-for="TurmaId" class="form-control" asp-items="ViewBag.TurmaId"></select>
                            <span asp-validation-for="TurmaId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="select-pure" class="control-label">Alunos</label>
                            <span id="select-pure"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tema" class="control-label"></label>
                            <input asp-for="Tema" class="form-control" />
                            <span asp-validation-for="Tema" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioId" class="control-label"></label>
                            <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                            <span asp-validation-for="UsuarioId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DataHora" class="control-label"></label>
                            <input asp-for="DataHora" class="form-control" />
                            <span asp-validation-for="DataHora" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sala" class="control-label"></label>
                            <input asp-for="Sala" class="form-control" />
                            <span asp-validation-for="Sala" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descricao" class="control-label">Descrição (opcional)</label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/select-pure.min.js" type="text/javascript"></script>
    <script src="~/js/banca-create-edit.js" type="text/javascript"></script>
}
