@model GerenciamentoBancasTcc.Domains.Entities.Formulario

@{
    ViewData["Title"] = "Cadastrar";
}
@if (TempData["mensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["mensagemErro"]
    </div>
}

<!-- CSS Bootstrap 5 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--Datatables-->
<link type="text/css" href="//cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css" rel="stylesheet" />
<!--Datatable checkboxes-->
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />

<div>
    <a asp-action="Index" style="text-decoration: none; color: #EEA084;"> <i class="fa-solid fa-circle-arrow-left"></i> Voltar para lista</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="border: solid 2px #e5e5e5; ">
                <div class="card-header text-center" style=" background-color: #94DDDE; color: #fff; font-size: 18px">
                    <b>Cadastrar Formulário</b>
                </div>
                <div class="card-body">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CursoId" class="control-label"></label>
                            <select asp-for="CursoId" id="CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nome do formulário</label>
                            <input asp-for="Nome" id="NomeFormulario" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="button" id="ver-perguntas" class="btn btn-primary">Adicionar Perguntas</button>
                        </div>
                        <div class="form-group" style="border: solid 2px #2B4B82; border-radius:3px; padding:5px" id="table-perguntas">
                            <table id="tablePerguntas" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Pergunta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" id="cadastrar" style="margin-right:16px; margin-bottom:15px;" class="btn btn-primary">Cadastrar Formulário</button>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- Script JQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--Datatables-->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
<!--Datatable checkboxes-->
<script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
<script type="text/javascript">

    $(function () {
        document.getElementById('table-perguntas').style.display = 'none';
        document.getElementById('cadastrar').style.display = 'none';

        $.noConflict();

        var cols =
            [
                { data: "questaoId" },
                { data: "pergunta" }
            ];

        var table = $('#tablePerguntas').DataTable({
            language: {
                sEmptyTable: "Nenhum registro encontrado",
                sInfoPostFix: "",
                sInfoThousands: ".",
                sLoadingRecords: "Carregando...",
                sProcessing: "Processando...",
                sZeroRecords: "Nenhum registro encontrado",
                sSearch: "Pesquisar",
                zeroRecords: "Nenhum registro encontrado",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                infoEmpty: "Mostrando 0 a 0 de 0 registros",
                infoFiltered: "(filtrados de _MAX_ registros)",
                lengthMenu: "_MENU_ por página",
                oPaginate: {
                    sNext: "Próximo",
                    sPrevious: "Anterior",
                    sFirst: "Primeiro",
                    sLast: "Último"
                },
                oAria: {
                    sSortAscending: ": Ordenar colunas de forma ascendente",
                    sSortDescending: ": Ordenar colunas de forma descendente"
                },
                select: {
                    rows: {
                        '_': '%d selecionados',
                        '0': '',
                        '1': '%d selecionado'
                    }
                }
            },
            columns: cols,
            pageLength: 10,
            columnDefs: [
                {
                    targets: 0,
                    checkboxes: {
                        selectRow: true
                    }
                }
            ],
            select: {
                style: 'multi'
            },
            order: [[1, 'asc']]
        });

        $('#ver-perguntas').click(function () {
            $.ajax({
                type: 'GET',
                url: "/Formulario/Perguntas",
                complete: function () {
                    $('#tablePerguntas').resize();
                },
                success: function (response) {
                    document.getElementById('table-perguntas').style.display = 'block';
                    document.getElementById('cadastrar').style.display = 'block';
                    console.log(response);
                    table.clear();
                    table.rows.add(response).draw();
                    table.column(0).checkboxes.deselectAll();
                }
            });
        });

        $('#cadastrar').click(function () {
            var cursoId = $('#CursoId').val();
            var nomeFormulario = $('#NomeFormulario').val();

            var rows_selected = table.column(0).checkboxes.selected().toArray();
            if (rows_selected.length === 0) {
                alert('Nenhum registro selecionado!');
            }
            else {
                $.post('/Formulario/Cadastrar', { Nome: nomeFormulario, CursoId: cursoId, idsQuestoes: rows_selected }, function (response) {
                    window.location.replace("https://localhost:5001/Formulario");
                });
            }

            $.ajax({
                type: "POST",
                url: "/Formulario/Cadastrar",
                data: {
                    Nome: nomeFormulario,
                    CursoId: cursoId,
                    idsQuestoes: rows_selected
                }
            });
        });
    });

</script>
