@model GerenciamentoBancasTcc.Domains.Entities.Filial

@{
    ViewData["Title"] = "Editar";
}

<div>
    <a asp-action="Index" style="text-decoration: none; color: #EEA084;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg> Voltar para lista
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="border: solid 2px #e5e5e5;">
                <div class="card-header text-center" style=" background-color: #94DDDE; color: #fff; font-size: 18px">
                    <b>Editar Filial</b>
                </div>
                <div class="card-body">

                    <div class="alert alert-warning" role="alert">
                        Tem certeza que deseja editar as informações da Filial?
                    </div>

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="FilialId" />
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Campus" class="control-label"></label>
                            <input asp-for="Campus" class="form-control" />
                            <span asp-validation-for="Campus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cnpj" class="control-label"></label>
                            <input asp-for="Cnpj" class="form-control" />
                            <span asp-validation-for="Cnpj" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Endereco" class="control-label"></label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="InstituicaoId" class="control-label"></label>
                            <select asp-for="InstituicaoId" class="form-control" asp-items="ViewBag.InstituicaoId"></select>
                            <span asp-validation-for="InstituicaoId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
