@model GerenciamentoBancasTcc.Domains.Entities.Aluno

@{
    ViewData["Title"] = "Editar";
}

@if (TempData["mensagemSucesso"] != null)
{
    <div id="message" class="alert alert-success" role="alert">
        @TempData["mensagemSucesso"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["mensagemErro"] != null)
{
    <div id="message" class="alert alert-danger" role="alert">
        @TempData["mensagemErro"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div>
    <a asp-action="Index"> <i class="fa-solid fa-circle-arrow-left"></i> Voltar para lista</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="border: solid 2px #e5e5e5;">
                <div class="card-header text-center" style=" background-color: #94DDDE; color: #fff; font-size: 18px">
                    <b>Editar Aluno</b>
                </div>
                <div class="card-body">

                    <div class="alert alert-warning" role="alert">
                        Tem certeza que deseja editar as informações do aluno?
                    </div>

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="AlunoId" />
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="TurmaId" class="control-label"></label>
                            <select asp-for="TurmaId" class="form-control" asp-items="ViewBag.TurmaId"></select>
                            <span asp-validation-for="TurmaId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
