.container h3 {
    text-align: center;
}

.container h5 {
    text-align: center;
}

.div-bancas {
    margin: 20px;
    border: solid 3px black;
    border-color: #2D5376;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

    .div-bancas:hover {
        border-color: #247BA0;
        background-color: #dcdcdc;
        cursor: pointer;
    }
