.card {
    border: solid 2px #2B4B82;
}

.cardIndex:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.card-header {
    background-color: #94DDDE;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.card-body {
    color: black;
    font-size: 16px;
}
