.container h3 {
    text-align: center;
}

.container h5 {
    text-align: center;
}

.divTeste {
    border: solid 3px black;
    border-color: #2D5376;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

    .divTeste:hover {
        border-color: #f8b739;
        cursor: pointer;
    }
