/*Paleta de cores
    Amarelo - #f8b739
*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #2B4B82;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: #94DDDE;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.text-color {
    color: white;
    font-size: 16px;
}

.btn-login {
    background-color: #F7B4A7;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: greenyellow;
    border-color: #53A3CD;
}

#btn-entrar {
    background-color: #F7B4A7;
    border-radius: 5px;
    height: 50px;
    color: white;
}

    #btn-entrar:hover {
        background-color: #EEA084;
    }

.forgot-password, a {
    text-decoration: none;
    color: white;
}

    .forgot-password:hover {
        text-decoration: underline;
        color: #EEA084;
        text-decoration: none;
    }

