@model GerenciamentoBancasTcc.Domains.Entities.Usuario

@section Styles {
    <link rel="stylesheet" href="~/css/select-pure.css" />
    <!-- JQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- JQuery MultiDatesPicker -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/dubrox/Multiple-Dates-Picker-for-jQuery-UI@master/jquery-ui.multidatespicker.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* jQuery UI Datepicker emphasis on selected dates */
        .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
            background: #1a5f97 none;
            color: white;
        }
    </style>
}
@{
    ViewData["Title"] = "Dias Disponiveis";
}
@if (TempData["mensagemSucesso"] != null)
{
    <div id="message" class="alert alert-success" role="alert">
        @TempData["mensagemSucesso"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["mensagemErro"] != null)
{
    <div id="message" class="alert alert-danger" role="alert">
        @TempData["mensagemErro"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="border: solid 2px #2B4B82;">
                <div class="card-header text-center" style=" background-color: #94DDDE; color: #fff; font-size: 18px">
                    <b>Cadastrar Questão</b>
                </div>
                <div class="card-body">
                    <form asp-action="AdicionarDiasDisponiveis">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="DiasDisponiveis" class="control-label">Infome os dias que terá disponibilidade para participar da bancas</label>
                            <div class="col-md-3">
                                <div class="input-group mt-3 mb-3">
                                    <input asp-for="DiasDisponiveis" type="text" class="form-control" id="datepicker">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
                                    <span asp-validation-for="DiasDisponiveis" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Font Awesome - Ícones -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
            integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JQuery UI -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- JQuery Multi Dates Picker -->
    <script src="https://cdn.jsdelivr.net/gh/dubrox/Multiple-Dates-Picker-for-jQuery-UI@master/jquery-ui.multidatespicker.js"></script>
    <script>
        $(function () {
            $("#datepicker").multiDatesPicker({
                showOn: "focus",
                dateFormat: "dd/mm/yy",
                dayNames: ["Domingo", "Segunda", "Terça", "Quarte", "Quinta", "Sexta", "Sábado"],
                dayNamesMin: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
            });
        });
    </script>
}
